$supportColor: #fffdb4;

$baseColor: #b7e8eb;
$amount: 4;
$darkenSteps: 20;
.intro {
  background-image: linear-gradient(
    $baseColor,
    darken($baseColor, $darkenSteps)
  );
}

#main {
  color: black;
}

@for $i from 1 through $amount {
  #depth-#{$i} {
    background-image: linear-gradient(
      darken($baseColor, $i * $darkenSteps),
      darken($baseColor, ($i + 1) * $darkenSteps)
    );
  }
}
